.bor {
  background-color: rgb(238, 238, 238);
  border: 2px solid rgba(24, 26, 26, 0.815);
  padding: 20px;
  margin: 20px;
  box-shadow: 5px 8px #3f3b3b9c;
  font-size: 20px;
}
.p {
  border-bottom: 2px solid rgb(21, 29, 41);
  background-color: rgb(224, 235, 233);
  font-size: xx-large;
  font-style: italic;
  box-shadow: darkslategray;
}
