#wrap {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  background: #ffffff;
  padding: 15px;
}

.p {
  font-size: xx-large;
}

.icon {
  color: blue;
}
.icon:hover {
  color: red;
}
