.wrap {
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  background: #ffffff;
  padding: 15px;
  box-shadow: 0.2px 0.2px #888888;
}

.p {
  font-size: xx-large;
}

@media only screen and (min-width: 768px) {
  .wrap2 {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-right: 15px;
    background: #ffffff;
    padding: 15px;
    box-shadow: 0.2px 0.2px #888888;
  }

  .wrap3 {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 0.2px 0.2px #888888;
    background: #ffffff;
    padding: 15px;
  }
  .nn {
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .wrap2 {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 20px;
    background: #ffffff;
    padding: 15px;
    box-shadow: 0.2px 0.2px #888888;
  }

  .wrap3 {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 0.2px 0.2px #888888;
    background: #ffffff;
    padding: 15px;
  }

  .nn {
    margin: auto;
    margin-bottom: 20px;
    width: 80%;
  }
}
